body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


button {
    height: 50px;
    margin: 2px;
    font-size: 1.2em;
    border-style: none;
    /*background-color: #d6e0f5;*/
}


button:hover {
    color: aliceblue;
    background-color: #2952a3;
    cursor: pointer;
    border: 2px solid white;
}

.calculator {
    position: relative;
    top: 150px;
    margin: 0 auto;
    max-width: 300px;
   
}

.calcButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin:0 auto;
    background-color: #193366;
    padding: 10px;
}

.calcButtons > button:nth-child(17) {
 
    grid-column: 1/3;
}

.operator {
    background-color: #d6e0f5;
}

.number {
    background-color: #7094db;
}

.userInput {
    position: relative;
    height: 80px;
    max-width: 100%;
    text-align: right;
    padding: 10px;
    font-size: 25px;
    /*border: 1px solid #193366;*/
    background-color: #d6e0f5;
}



.calcButtons > button:nth-child(19) {

    background-color: lightgreen;
}

.userEntry {
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 5px;
    right:0;
}

.finalCalc{

    position: absolute;
    right:0;
    margin:5px;
    top:0;
    padding:0;
}

*,
html {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

body {
	font-family: 'Ubuntu', sans-serif !important;
	font-weight: 20 !important;
	background-image: url(../about/img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
main {
	width: 100%;
	min-height: 100vh;
}
a {
	text-decoration: none !important;
}
body .bg-success {
    background-color: #9cca64!important;
}

.profile img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.profile h3 {
font-size: 20px;
font-weight: 400;
margin: 20px 0px 8px 0px;
}
.social-link a {
font-size: 22px;
}
.button-link {
display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-link img {
width: 54px;
height: 54px;
object-fit: cover;
  border-radius: 10px;
}
.button-link p, .badge {
font-weight: 500 !important;
}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

main {	
max-width: 420px;
}

}

.container-navbar {
    background-color: crimson;
    width: 1355px;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 12px;
    margin: 5px;
    color: white;
    /* FONT SIZE NAVBAR */
    font-size: 20px;
}

#biodata {
  background: red;
  width: 500px;
  height: 500px;
}

.li-navbar:hover {
    background-color: black;
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}

.a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 50;
}

.container-ip {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

@keyframes animate {
    to {
        background-position: 200% center;
    }
}

.container-content {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: blue;
    color: black;
    text-decoration: none;
    font-size: 50px;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

    font: 800 2rem 'Montserrat';
    background: linear-gradient(to right, 
    #06599b 10%, #01ef96 50%, #06599b 90%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 2s linear infinite;
}

.img-content {
    width: 40%;
    height: 40%;
}

.container-footer {
    height: 10vh;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 40px;
    color: white;
}

input:invalid {
    animation: shake .3s;
}

@keyframes shake {
    25% { transform: translateX(4px) }
    50% { transform: translateX(-4px) }
    75% { transform: translateX(4px) }
}


/* Bordered form */
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  } */
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }



  * {box-sizing: border-box}
  /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }

  input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 100%;
  }

  /* Style tombol utama */
.dropbtn {
  background-color: #008c5f;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Warna background dari tombol utama ketika isi konten dropdown ditampilkan */
.dropdown:hover .dropbtn {
  background-color: #006947;
}

/* Isi dari <div> - Diperlukan untuk memposisikan isi konten dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Isi konten dropdown (disembunyikan) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2f303f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Link di dalam menu dropdown */
.dropdown-content a {
  color:#fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Warna link di dalam dropdown ketika disorot */
.dropdown-content a:hover {
background-color:#008c5f;
color: #fff !important;
}

/* Tampilkan isi konten dopdown ketika disorot */
.dropdown:hover .dropdown-content {
  display: block;
}